<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Notes app</title>
</head>
<body>
	{% if request.resolver_match.url_name != "index" %}
		<a href="{% url 'index' %}">Return to main page</a><br>
	{% endif %}
	{% block content %}{% endblock %}
</body>
</html>