{% extends 'base.html' %}

{# https://simpleisbetterthancomplex.com/tutorial/2017/02/18/how-to-create-user-sign-up-view.html #}

{% block content %}
	<h1>{{ title }}</h1>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" id="submit_button">{{ button_text }}</button>
	</form>
{% endblock %}