{% extends 'base.html' %}

{% block content %}
	{% if user.is_authenticated %}
		<a href="{% url 'logout' %}">Log Out</a><br>
		<a href="{% url 'create' %}" id="create_link">Create note</a>
		<ul>
			{% for note in notes %}
				<li>
					<a href="{% url 'view' id=note.id %}" class="note_link">{{ note.title }}</a> ({{ note.creation_date }})
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<a href="{% url 'signup' %}" id="signup_link">Sign Up</a> | <a href="{% url 'login' %}">Log In</a><br>
	{% endif %}
{% endblock %}