{% extends 'base.html' %}

{% block content %}
	<h1>{{ note.title }}</h1>
	<p>
		Created at {{ note.creation_date }}<br>
		<a href="{% url 'edit' id=note.id %}" id="edit_link">Edit</a> | <a href="{% url 'delete' id=note.id %}" id="delete_link">Delete</a>
	</p>
	<script type="text/javascript">
		let deleteLink = document.getElementById('delete_link')
		let originalText = deleteLink.innerText
		let clickedOnce = false
		deleteLink.addEventListener('click', function(event) {
			event.preventDefault()
			if (clickedOnce) {
				location.href = deleteLink.href
			} else {
				deleteLink.innerText = "Click again to delete"
				clickedOnce = true
			}
		})
		deleteLink.addEventListener('mouseleave', function() {
			deleteLink.innerText = originalText
			clickedOnce = false
		})
	</script>
	{{ note.text }}
{% endblock %}